<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Logradouros</title>

        <!-- define a viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <meta charset="utf-8">

        <!-- adicionar CSS Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="all">

        <!-- css personalizado -->
        <link href="css/estilo.css" rel="stylesheet" media="all">

    </head>

    <body>
        <div class="container-fluid" style="background-color: #efefef;">
            <!-- Menu Principal -->
            <% include ../index/menuInclude %>

            <nav class="navbar navbar-filter navbar-inverse" role="navigation">
                <form id="formLogradouros" action="/logradourosList" method="get">
                    <input type="hidden" name="pagina" value="1">

                    <div class="col-md-2">
                        <div class="input-group navbar-brand">
                            <h4>Logradouros</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group h2">
                            <input name="inputCidade" class="form-control" id="inputCidade" type="text" value="<%=nmCidade%>" placeholder="Pesquisar por Cidade">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" name="btnCidade" id="btnCidade">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group h2">
                            <input name="inputNomeLogradouro" class="form-control" id="inputNomeLogradouro" type="text" value="<%=metadata.nmLogradouro%>" placeholder="Pesquisar por Logradouro">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" name="btnLogradouro" id="btnLogradouro">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="input-group h2">
                            <input name="inputCep" class="form-control" id="inputCep" type="text" value="<%=metadata.cep%>" placeholder="Pesquisar por CEP">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" name="btnCep" id="btnCep">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <input type="submit" name="btnNew" id="btnNew" value="Novo" class="btn btn-primary pull-right h2">
                    </div>
                </form>
            </nav>
                
            <div id="list" class="row">
                <div class="table-responsive col-md-12">
                    <table class="table table-striped" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="class_header_list">
                                <th>ID</th>
                                <th>Cidade</th>
                                <th>Bairro</th>
                                <th>Tipo</th>
                                <th>Nome</th>
                                <th>C.E.P</th>
                                <th class="actions">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < logradouros.length; i++) { %>
                                <tr>
                                    <td><%=logradouros[i][0]%></td>
                                    <td><%=logradouros[i][1]%></td>
                                    <td><%=logradouros[i][10]%></td>
                                    <td><%=logradouros[i][3]%></td>
                                    <td><%=logradouros[i][4]%></td>
                                    <td><%=logradouros[i][9]%></td>
                                    <td class="actions">
                                        <a class="btn btn-success btn-xs view_detail"  id="<%=logradouros[i][0]%>" bairro="<%=logradouros[i][11]%>" href="#">Consultar</a>
                                        <a class="btn btn-warning btn-xs view_edit"    id="<%=logradouros[i][0]%>" bairro="<%=logradouros[i][11]%>" href="#">Editar</a>
                                        <a class="btn btn-danger btn-xs view_data"     id="<%=logradouros[i][0]%>" bairro="<%=logradouros[i][11]%>" href="#">Excluir</a>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <nav class="class_paginator">
            <ul class="pagination pagination-sm">
                <li class="page-item">
                    <span id="previous" class="btn btn-success btn-xs">Anterior</a>
                </li>
                <%- paginator %>                    
                <li class="page-item">
                    <span id="next" class="btn btn-success btn-xs">Próxima</a>
                </li>
            </ul>
        </nav>
    </body>

    <input id="pagina" type="hidden" value="<%=metadata.page%>">
    <input id="total-pagina" type="hidden" value="<%=metadata.totalPages%>">
    <input id="nmCidade" type="hidden" value="<%=metadata.nmCidade%>">
    <input id="nmLogradouro" type="hidden" value="<%=metadata.nmLogradouro%>">
    <input id="cep" type="hidden" value="<%=metadata.cep%>">

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    <!-- Modal Novo e Edita/Altera Logradouro -->
    <% include modalLogradouros %>

    <!-- Modal Deleta Logradouro -->
    <% include modalDelLogradouro %>

    <!-- Modal consulta logradouro -->
    <% include modalSearchLogradouro %>

    <!-- Modal Lista vereadores -->
    <% include modalListVereadores %>

    <script>
        $("#previous").click(function() {
            previous();
        });

        $("#next").click(function() {
            next();
        });

        function previous() {
            var page      = parseInt($("#pagina").val());
            var totalPage = parseInt($("#total-pagina").val());
            var cep = parseInt($("#cep").val());
            var nmCidade = $("#nmCidade").val();
            var nmLogradouro  = $("#nmLogradouro").val();
            
            if (page > 1) {
                page--;
                window.location = "/logradourosList?pagina=" + page + 
                (nmCidade ? ("&inputCidade=" + nmCidade) : "")  + 
                (nmLogradouro ? ("&inputNomeLogradouro=" + nmLogradouro) : "") +
                (cep ? ("&inputCep=" + cep ) : "") ;
            };
        };

        function next() {
            var page      = parseInt($("#pagina").val());
            var totalPage = parseInt($("#total-pagina").val());
            var cep = parseInt($("#cep").val());
            var nmCidade = $("#nmCidade").val();
            var nmLogradouro  = $("#nmLogradouro").val();

            if (page <= totalPage) {
                page++;
                window.location = "/logradourosList?pagina=" + page + 
                (nmCidade ? ("&inputCidade=" + nmCidade) : "") + 
                (nmLogradouro ? ("&inputNomeLogradouro=" + nmLogradouro) : "") +
                (cep ? ("&inputCep=" + cep ) : ""); 
            };
        };

        // botão cidade
        $("#btnCidade").click(function() {
            $("#inputCep").val(null);
            $("#formLogradouros").submit();
        });

        // botão nome logradouro
        $("#btnLogradouro").click(function() {
            $("#inputCep").val(null);
            $("#formLogradouros").submit();
        });

        // botão Cep
        $("#btnCep").click(function() {
            $("#inputCidade").val(null);
            $("#inputNomeLograoduro").val(null);
            $("#formLogradouros").submit();
        });

        // Aqui era por ddw troquei por botões.
        /*$('#inputCidade').change(function (){
            //var cidade = ($(this).val());
            $("#inputNomeLogradouro").val(null);
            $("#filter-form").submit();
        });

        $('#inputDistrito').change(function (){
            //var cidade = ($(this).val());
            $("#filter-form").submit();
        });

        $("#btnLogradouro").click(function() {
            $("#seachCep").val(null);
            $("#filter-form").submit();
        });

        $("#inputNomeLogradouro").keypress(function() {
            var filter = $("#inputNomeLogradouro").val();
            if (filter && filter.length >= 2) {

                setTimeout(function() {
                    $("#filter-form").submit();
                }, 800);
            }
        }); */

        function setHeaderFooter(data){
            if(data == "N"){
                //Novo
                var element = document.getElementById("ModalHeader");
                element.classList.remove("class_header_edit");
                element.classList.add("class_header_new");
                
                var element = document.getElementById("ModalFooter");
                element.classList.remove("class_footer_edit");
                element.classList.add("class_footer_new");
            } else if(data == "E"){
                // Edita/Altera
                var element = document.getElementById("ModalHeader");
                element.classList.remove("class_header_edit");
                element.classList.add("class_header_edit");
                
                var element = document.getElementById("ModalFooter");
                element.classList.remove("class_footer_edit");
                element.classList.add("class_footer_edit");
                
            } ;
        };

        function escondeMsg() {
            submit=true;
            document.getElementById("msgErro").style.display = "none";
        };
        
    </script>
</html>    

